<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Title</title>
    <style>
        body {
            background: #222222;
        }

        .img_frame {
            width: 25%;
            padding-bottom: 5%;
            float: left;
        }

        .img_btn {
            width: 100%;
            background-color: transparent;
            border: transparent;
        }

        img {
            width: 100%;
        }

        .rowbigimg {
            width: 100%;
        }

        .bigimg {
            width: 80%;
            margin-left: 10%;
        }
    </style>
    <script>
        var closeBigImage = function () {
            var items = document.getElementsByClassName("rowbigimg")
            for (let i in items) {
                items[i].innerHTML = ""
            }
        }
        var showBigImage = function (url, e) {
            closeBigImage()           
            let img = document.createElement("img")
            img.src = url
            img.className = "bigimg"
            e.appendChild(img)
        }

    </script>
</head>

<body>
    <img src="https://konachan.net/images/logo_small.png" style="width: 40%; margin-left: -3%">
    {% for row in postrow %}
    <div style="clear: both; padding-bottom: 10%;">
        {% for col in row %}
        <div class="img_frame">
            <button class="img_btn" onclick="showBigImage('{{col['file_url']}}', this.parentElement.parentElement.getElementsByClassName('rowbigimg')[0])">
                <img src="{{ col['preview_url'] }}">
            </button>
        </div>
        {% endfor %}
        <div class="rowbigimg"></div>
    </div>
    </div>
    {% endfor %}

</body>

</html>