<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>Title</title>
    <style>
        body {
            background: #222222;
        }

        .img_frame {
            width: 25%;
            padding-bottom: 5%;
            float: left;
        }

        .img_btn {
            width: 100%;
            background-color: transparent;
            border: transparent;
        }

        img {
            width: 100%;
        }
    </style>
    <script>
        var closeBigImage = function (){
            let bigimg = document.getElementById("bigimg")
            bigimg.innerHTML = ""
        }
        var showBigImage = function (url) {
            let bigimg = document.getElementById("bigimg")
            bigimg.innerHTML = ""
            let img = document.createElement("img")
            img.src = url
            bigimg.appendChild(img)
            let btn = document.createElement("button")
            btn.onclick = closeBigImage
            btn.value = "X"
            bigimg.appendChild(btn)
        }
       
    </script>
</head>

<body>
    <img src="https://konachan.net/images/logo_small.png" style="width: 40%">
    {% for row in postrow %}
    <div style="clear: both">
        {% for col in row %}
        <div class="img_frame">
            <button class="img_btn" onclick="{{ 'showBigImage(\'' +col['file_url'] + '\')' }}">
                <img src="{{ col['preview_url'] }}">
            </button>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div id = "bigimg">

    </div>

</body>

</html>